@{
    ViewData["Title"] = "Home Page";
}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="font.css">
  <link rel="stylesheet" href="main.css">
  <title>Social-bar</title>
</head>

<header class="masthead text-white text-center" style= "background-color: #00cfd5">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img  class="img-thumbnail" src="../Imagenes/foto_perfil.jpeg" alt="..." width="100" height="70">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Francisco Gálvez Griñán</h1>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Software Ingineer - RPA Developer</p>
            </div>
</header>

<div class= "social-bar">
    <a href="https://www.instagram.com/galveniano" ></a>

</div>

  <div class="social-bar">
    <a href="https://www.linkedin.com/in/francisco-g%C3%A1lvez-gri%C3%B1%C3%A1n-354b57142/" class="icon icon-linkedin" target="_blank"></a>
    <a href="https://github.com/galveniano" class="icon icon-github" target="_blank"></a>
    <a href="https://www.instagram.com/galveniano/" class="icon icon-instagram" target="_blank"></a>
  </div>


  <section class="page-section text-white mb-0" id="about" style= "background-color: #00cfd5">
            <div class="container" align="center">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Sobre Mí</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" width="50" height="50"><path fill="currentColor" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com --></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div ><p class="lead">Hola, esta es mi prueba técnica, si habéis podido revisar mi LinKedin vereis que la mayoria del tiempo he estado trabando en el mundillo de RPA aunque mi deseo es ser desarrollador de software y es en lo que me estoy especializando actualmente. Os dejo mis redes sociales para que podáis ponerse en contacto conmigo.</p></div>
                </div>
            </div>
        </section>